<div class="pantalla-dj">
  
  <div class="header"> 
    <h1><i class="fa-solid fa-comments"></i> Mensajes en Vivo</h1>
    
    <button class="btn-accion btn-borrar btn-limpiar-maestro" (click)="abrirModalLimpiar()">
      <i class="fa-solid fa-broom"></i> Limpiar Tablero
    </button>
  </div>

  <div class="contenedor-mensajes">
    <h2 *ngIf="saludos.length === 0" class="vacio">Esperando los saludos de los invitados...</h2>
    
    <div *ngFor="let m of saludos; let i = index" class="mensaje-card" [class.leido]="m.leido" [class.eliminando]="m.eliminando">
      
      <!-- NUEVO: Nombre del invitado más elegante y con icono -->
      <div class="autor">
        <i class="fa-solid fa-heart" style="color: #a68a48; font-size: 0.8rem; margin-right: 5px;"></i> {{ m.invitado }}
      </div>      
      
      <!-- NUEVO: Texto más grande y destacado -->
      <div class="texto">"{{ m.texto }}"</div>
      
      <div class="contenedor-foto" *ngIf="m.imagen">
        <img [src]="m.imagen"
             alt="Foto adjunta" 
             class="foto-saludo"
            (click)="abrirFoto(m.imagen)"
             style="cursor: zoom-in;"
             title="Clic para ampliar">
      </div>
      
      <div class="pie-tarjeta">
        <div class="hora" *ngIf="m.fechaEnvio">
          <i class="fa-regular fa-clock"></i> {{ m.fechaEnvio | date:'shortTime' }}
        </div>
        
        <div class="acciones-dj">
          <button class="btn-accion btn-visto" (click)="marcarVisto(m)">
            <i class="fa-solid" [ngClass]="m.leido ? 'fa-check' : 'fa-check-double'"></i> 
            {{ m.leido ? 'Leído' : 'Marcar' }}
          </button>
          
          <button class="btn-accion btn-borrar" (click)="borrarMensaje(i, m)">
            <i class="fa-solid fa-trash-can"></i> Borrar
          </button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="lightbox-overlay" *ngIf="fotoExpandida" (click)="cerrarFoto()">
  <button class="btn-cerrar-lightbox" (click)="cerrarFoto()">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <img [src]="fotoExpandida" class="lightbox-img" (click)="$event.stopPropagation()">
</div>

<div class="modal-overlay" *ngIf="mostrarModalLimpiar" (click)="cerrarModalLimpiar()">
  <div class="modal-confirmacion" (click)="$event.stopPropagation()">
    <h3><i class="fa-solid fa-triangle-exclamation" style="color: #e74c3c; margin-right: 10px;"></i> ¿Limpiar toda la pantalla?</h3>
    <p>Se borrarán todos los mensajes actuales de la vista del DJ.</p>
    
    <div class="modal-botones">
      <button class="btn-modal btn-cancelar" (click)="cerrarModalLimpiar()">Cancelar</button>
      <button class="btn-modal btn-confirmar" (click)="confirmarLimpiarTablero()">Sí, limpiar todo</button>
    </div>
  </div>
<footer class="footer-dj">
  <p>&copy; 2026 Biglat Technologies.</p>
</footer>
</div>